{
    "presets": ["@babel/preset-env", "@babel/preset-react"] 
}//preset-env: It is a preset that allows you to use the latest JavaScript without the need for micromanaging which syntax transformations the target environment requires. Minifies javascript packages.
//preset-react: Allows to recognize React jsx structure.
