*{
    margin: 0;
    padding: 0;
    background-size: cover;
}
body{
    background-image: linear-gradient(to bottom, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
    background-repeat: no-repeat;
}